<h1>投稿一覧</h1>
<% @posts.each do |post| %>

  <P>商品名</P>
  <span>
    <%= link_to post.item_name, post_path(post.id) %>
  </span>
  <P>予算</P>
  <p><%= post.price_i18n %></p>
  
  <p><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></p>
  
<% end %>
