<h1>全関係性一覧</h1>
<ul>
  <% @relationships.each do |relationship| %>
    <li>
      <%= relationship %>
      <%= link_to '削除', admin_relationship_path(relationship), method: :delete, data: { confirm: '本当に削除しますか？' } %> 
    </li>
  <% end %>
</ul>