<% if @model == 'user' %>
	<h3>Users search for "<%= @content %>"</h3>
    <%= @records.inspect %>
<% elsif @model == 'post' %>
	<h3>Posts search for "<%= @content %>"</h3>
    <%= @records.inspect %>
<% end %>