<h1>全投稿一覧</h1>
<ul>
  <% @posts.each do |post| %>
    <li>
      <%= post.item_name %> - <%= post.user.name %>
      <%= link_to '削除', admin_post_path(post), method: :delete, data: { confirm: '本当に削除しますか？' } %> 
    </li>
  <% end %>
</ul>