<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-8 offset-md-1">
      <h2>全投稿一覧</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>Comment</th>
            <th>UserName</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @post_comments.each do |post_comment| %>
          <tr>
            <td></td>
            <td><%= post_comment.comment %></td>
            <td><%= post_comment.user.name %></td>
            <td><%= link_to '削除', admin_post_comment_path(post_comment), class: "btn btn-danger btn-sm", method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'Back', admin_dashboards_path %>
    </div>
  </div>
</div>
