<h2>一覧メニュー</h2>
<li><%= link_to "全ユーザー一覧", admin_users_path %></li>
<li><%= link_to "全投稿一覧", admin_posts_path %></li>
<li><%= link_to "全関係性一覧", admin_relationships_path %></li>

<h2>新規作成メニュー</h2>
<li><%= link_to "関係性", new_admin_relationship_path %></li>