<div class="container">
  <div class="row">
    <div>
      <h2>メニュー</h2>
      <li><%= link_to "全ユーザー一覧", admin_users_path %></li>
      <li><%= link_to "全投稿一覧", admin_posts_path %></li>
      <li><%= link_to "全関係性一覧", admin_relationships_path %></li>
      <li><%= link_to "全シチュエーション一覧", admin_situations_path %></li>
    </div>
  </div>
</div>
