<h1>マイページ</h1>
<% if @user == current_user %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "text-secondary" %></p>
  <p><%= link_to "退会", user_path(@user.id), method: :delete, "data-confirm" => "本当に退会しますか？", class: "text-muted" %></p>
<% end %>
<h2>投稿一覧</h2>
<% @posts.each do |post| %>
<div>
  <p>商品：<%= link_to post.item_name, post_path(post.id) %></p>
</div>
<% end %>

